@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 16px;
  max-width: 480px;
  min-width: 224px;
}

.stack {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.label {
  font-variant: small-caps;
  font-size: small;
  padding-bottom: 8px;
}

.text_input {
  box-sizing: border-box;
  width: 100%;
}

#district {
  display: none;
  padding-top: 32px;
  flex-direction: column;
  text-align: center;
  font-size: large;
}

@media (max-width: 360px) {
  .container {
    padding: 8px;
  }
}
